.header {
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-light-white);
    position: absolute;
}
.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 4px;
    margin-left: auto;
    margin-right: 100px;
}
.header__menu__item {
    color: var(--color-light-gray);
    text-decoration: none;
    padding: 8px 24px;
}
.header__menu__item--active {
    color: var(--color-light-black);
    background-color: var(--color-medium-white);
    border-radius: 4px;
    font-weight: 600;
}
.logo {
    height: 70px;
    width: 100px;
    border: 1px solid #000000;
    margin-left: 183px;
    text-align: center;
}
nav a:hover {
    background: var(--color-medium-white);
}

@media only screen and (max-width:480px) {
    .header {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--color-light-white);
        position: absolute;
    }
    .logo {
        height: 70px;
        width: 100px;
        border: 1px solid #000000;
        text-align: center;
        margin-left: 0;
    }
    .header__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        gap: 2px;
    }
}